@import "utils/libs";
@import "utils/vars";
@import "utils/buttons";
@import "utils/mixins";
@import "utils/normalize";

// Modules
@import "modules/header.scss";
@import "modules/footer.scss";
@import "modules/left-sidebar.scss";
@import "modules/right-sidebar.scss";
@import "modules/modals.scss";

html {
  	line-height: $mainLine-Height;
	font-size: $mainFont-Size;
	color: $mainFont-Color;
}

html ::-webkit-scrollbar {
	width: .3em;
	height: .3em;
	cursor: pointer;
}

html ::-webkit-scrollbar-thumb {
	background: #2e368f;
	border-radius: .3em;
	cursor: pointer;
}

html ::-webkit-scrollbar-track {
	background: #c4c4c4;
	cursor: pointer;
}

body {
	margin: 0;
  	padding: 0;
  	font-family: $mainFont;
  	font-size: $mainFont-Size;
 	 font-weight: $mainFont-Weight;
  	-webkit-font-smoothing: antialiased;
  	-moz-osx-font-smoothing: grayscale;
  	background: $dark-05-color;
}

*, *:before, *:after { 
	box-sizing: border-box; 
	outline: none;
}

h1, h2, h3, h4, h5, h6 { margin: 0; }

a { 
  text-decoration: none; 
  color: #242e33;
  cursor: pointer;
}

.container {
	width: 100%;
	padding-right: 15px;
	padding-left: 15px;
	margin-right: auto;
  	margin-left: auto;
  
  @media screen and (min-width:576px) {
      max-width: 540px;
  }

  @media screen and (min-width:768px) {
      max-width: 720px;
  }

  @media screen and (min-width:992px) {
      max-width: 960px;
  }

  @media screen and (min-width:1200px) {
      max-width: 1140px
  }

  @media (min-width: 1440px) {
	  max-width: 1440px;
	  padding: 0 60px;
  }
}

h2,
h3,
h4 {
	margin-top: 0;
	margin-bottom: 30px;
	color: #242e33
}

.homepage h2 {
	font-size: 2em;
	line-height: 1.25;
	text-align: center
}

li,
p {
	margin-top: 0;
	margin-bottom: 5px;
	line-height: 1.5
}

svg,
img {
	position: relative;
}

button,
input,
option,
select {
	-moz-appearance: none;
	-webkit-appearance: none;
	border-radius: 0;
	appearance: none  
}

textarea {
	resize: none;
}


button {
	padding: 0;
	border: unset;
	background: unset;
	cursor: pointer;
}

input[type=search]::-webkit-search-cancel-button,
input[type=search]::-webkit-search-decoration,
input[type=search]::-webkit-search-results-button,
input[type=search]::-webkit-search-results-decoration {
	-webkit-appearance: none
}

.input-warning {
	font-size: .9em;
	font-weight: 500;
	color: #FF4848;
}

.input-notation {
	font-size: .9em;
}

.warning input,
.warning textarea {
	border-color: #FF4848 !important;
}

.inner-page {
	padding-top: 70px;
}

.homepage {
	padding-top: 0;
	background: $white-color;
}

@media (min-width:992px) {
	.inner-page .row>div:first-of-type {
		padding-left: 0
	}
	.inner-page .row>div:last-of-type {
		padding-right: 0
	}
}

@media (min-width:1200px) {
	.inner-page .row>.main-categories-tile-desktop-first {
		padding-left: 0
	}
	.inner-page .row>.main-categories-tile-desktop-last {
		padding-right: 0
	}
}


.full-width-img {
	display: flex;
	width: 100%;
	height: auto
}

.main-content h2 {
	margin: 0 auto;
	margin-bottom: 30px;
	line-height: 1
}






.main-page-banner {
	position: relative;
	padding-top: 180px;
	padding-bottom: 100px;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center
}

.main-page-banner::before {
	position: absolute;
	content: '';
	width: 100%;
	height: 100%;
	top: 0;
	opacity: .6;
	z-index: 2;
	background: #000
}

.main-page-banner__inner {
	position: relative;
	display: flex;
	justify-content: flex-end;
	z-index: 3;
}

.main-page-banner__content {
	width: 35%;
	margin: 0 100px
}

.main-page-banner__title {
	margin-right: 0;
	margin-bottom: 30px;
	color: #FFF
}
.main-page-banner__desc {
	font-size: 1.15em;
	color: #FFF
}


.main-page-navigation {
	position: relative;
	background-color: #1f2569
}

.main-page-navigation__inner {
	display: flex;
	flex-direction: row;
	margin: 0;
	padding: 0
}

.main-page-navigation__item {
	display: flex;
	justify-content: center;
	margin-bottom: 0;
	width: stretch;
	height: 100%;
	list-style: none
}

.main-page-navigation__item a {
	display: block;
	padding: 50px 0;
	width: 100%;
	font-size: 1.5em;
	text-align: center;
	color: #FFF;
	transition: .3s;
	letter-spacing: .03em
}

.main-page-navigation__item a span {
	transition: .3s
}

.main-page-navigation__item a:hover span {
	margin-right: 50px;
	text-shadow: 0 0 2px #FFF;
	transition: .3s
}

.main-page-navigation__item a img,
.main-page-navigation__item a svg {
	position: relative;
	top: -2px;
	display: none
}

.main-page-navigation__item a:hover svg {
	display: inline
}

.main-page-navigation__item:nth-child(1) {
	background: #2e368f
}

.main-page-navigation__item:nth-child(2) {
	background: #39419f
}

.main-page-navigation__item:nth-child(3) {
	background: #434ba6
}

.main-page-navigation__item:nth-child(4) {
	background: #4d55ae
}

.main-page-navigation__item:nth-child(5) {
	background: #5a61b7
}

.main-page-categories {
	padding: 50px 0
}

.main-page-categories {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between
}

.main-page-categories__left-column,
.main-page-categories__right-column {
	display: flex;
	width: calc(50% - 10px);
	flex-direction: column;
	flex-wrap: wrap
}

.main-page-category {
	position: relative;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	margin-bottom: 20px;
	border-radius: 10px;
	box-shadow: 0 0 2px rgba(0, 0, 0, .5)
}

.main-page-category__inner {
	display: flex;
	flex-direction: column;
	padding: 30px 20px
}

.main-page-category__inner::before {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: #000;
	opacity: .30;
	border-radius: 10px;
	z-index: 2;
	transition: .3s
}

.main-page-category__inner:hover::before {
	opacity: .55 !important;
}

.main-page-category * {
	z-index: 3
}

.main-page-category h3 {
	margin-top: 0;
	margin-bottom: 0;
	font-size: 1.5em;
	line-height: 1.7;
	color: #FFF
}

.main-page-category__main-link {
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	z-index: 4
}

.main-page-category__desc {
	color: #FFF;
}

.main-page-category__tags {
	position: absolute;
	left: 20px;
	bottom: 20px;
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	flex-wrap: wrap;
	z-index: 4
}

.tag {
	display: flex;
	justify-content: center;
	align-items: center;
	width: fit-content;
	min-height: 38px;
	margin-right: 10px;
	margin-bottom: 10px;
	padding: 0 10px;
	font-size: .85em;
	border-radius: 5px;
	color: #4b4c55;
	background: #e8e8e8;
	transition: .3s;
    word-wrap: break-word;
    word-break: break-word;
    white-space: pre-wrap;
}

.tag:hover {
	color: #2e368f;
	text-shadow: 0 0 1px #2e368f;
	box-shadow: 0 1px 3px rgba(0, 0, 0, .25);
	transition: .3s
}

.to-tags-modal {
	height: 38px;
}

.main-page-categories__right-column__sub-columns {
	display: flex;
	flex-direction: row;
	justify-content: space-between
}

#main-page-category--first {
	height: 490px;
	padding-bottom: 50px;
	background-size: cover;
	background-repeat: no-repeat;
}

#main-page-category--second {
	height: 235px;
	padding-bottom: 40px;
	background-size: cover;
	background-repeat: no-repeat;
}

.main-page-categories__third-column {
	display: flex;
	width: calc(50% - 10px)
}

#main-page-category--third {
	width: 100%;
	height: 490px;
	padding-bottom: 40px;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center
}

#main-page-category--fourth {
	height: 235px;
	padding-bottom: 40px;
	background-size: cover;
	background-repeat: no-repeat;
}

.main-page-category--fifth-and-sixth-column {
	display: flex;
	width: calc(50% - 10px);
	flex-direction: column
}

#main-page-category--fifth {
	width: 100%;
	height: 235px;
	padding-bottom: 40px;
	background-size: cover;
	background-repeat: no-repeat;
}

#main-page-category--fifth .main-page-category__desc,
#main-page-category--sixth .main-page-category__desc {
	display: none;
}

#main-page-category--sixth {
	width: 100%;
	height: 235px;
	padding-bottom: 40px;
	background-size: cover;
	background-repeat: no-repeat;
}

.main-page-section__heading {
	margin: 0 auto;
	margin-bottom: 50px;
	text-align: center;
}

.main-page-section__heading h2 {
	margin-bottom: 0px;
}

.last-forum-messages {
	padding: 50px 0
}

.last-forum-messages h2 {
	font-size: 2em;
	text-align: center
}

.last-forum-messages {
	display: flex;
	flex-wrap: wrap;
	flex-direction: row;
	justify-content: space-between;
	width: 100%;
	margin: 0 auto
}

.last-forum-message {
	width: calc(50% - 15px);
	margin-bottom: 20px
}

.last-forum-message__inner {
	padding: 10px 30px;
	border: 1px solid #eeb201;
	border-radius: 4px;
	background: #FFF;
	box-shadow: 0 0 4px rgba(0, 0, 0, .15)
}

.last-forum-message__category span,
.last-forum-message__question span {
	display: block
}

.last-forum-message__category {
	margin-bottom: 20px
}

.last-forum-message__question {
	margin-bottom: 15px;
	padding-bottom: 15px;
	border-bottom: 1px solid #eceeee
}

.last-forum-message__category__name,
.last-forum-message__question__name {
	margin-bottom: 10px;
	color: #eeb201;
	font-weight: 500
}

.last-forum-message__info {
	display: flex;
	justify-content: space-between;
	margin-bottom: 15px;
}

.last-forum-message__info>div {
	display: flex;
	align-items: center
}

.last-forum-message__info>div img,
.last-forum-message__info>div svg {
	margin-right: 5px
}

.latest-news__tile-link {
	display: flex;
	width: 165px;
	height: 48px;
	font-weight: 500;
	border: 1px solid #4F58B8;
	border-radius: 5px;
	background: #f5f6f7;
	transition: .3s
}

.last-forum-message__inner > .latest-news__tile-link {
	display: none;

	@media screen and (max-width: 992px) {
		display: flex;
	}
}

.latest-news__tile-link:hover {
	color: #FFF;
	background: #4F58B8
}

.latest-news__tile-link:hover svg path {
	fill: #FFF
}

.latest-news__tile-link a {
	display: flex;
	width: 100%;
	height: 100%;
	padding: 0 15px;
	justify-content: space-between;
	align-items: center
}

.latest-news__tile-link span {
	font-size: 1em;
	color: #1f2569;
}

.latest-news__tile-link:hover span {
	color: #FFF
}

.last-forum-messages-button {
	width: 188px;
	justify-content: center;
	margin: 0 auto
}

.verified-suppliers {
	padding-top: 50px;
	padding-bottom: 50px
}

.verified-suppliers-header {
	width: 70%;
	position: relative;
	display: flex;
	align-items: center;
	margin: 0 auto;
	margin-bottom: 50px;
	align-items: center
}

.verified-suppliers-header .main-page-section__heading {
	margin-bottom: 0;
}

.verified-suppliers h2 {
	margin: 0 auto;
	margin-bottom: 0
}

.verified-suppliers-arrows {
	position: absolute;
	right: 0;
	line-height: 1
}

.verified-suppliers .owl-carousel .owl-item img {
	-webkit-filter: grayscale(1);
	filter: grayscale(1);
	transition: .3s;
	opacity: .5;
	cursor: pointer
}

.verified-suppliers .owl-carousel .owl-item img:hover {
	-webkit-filter: grayscale(0);
	filter: grayscale(0);
	opacity: 1
}

.testimonials {
	display: flex;
	justify-content: center;
	padding-top: 50px;
	padding-bottom: 50px
}

.testimonials h2 {
	display: flex;
	position: relative;
	margin-bottom: 0
}

.testimonials-tiles-block {
	position: relative;
	width: 70%;
	margin: 0 auto
}

.testimonials-header {
	position: relative;
	width: 70%;
	display: flex;
	align-items: center;
	justify-content: space-between;
	margin: 0 auto;
	margin-bottom: 25px;
	line-height: 1
}

.testimonials-header .main-page-section__heading {
	margin-bottom: 0;
}

.testimonials-dots {
	justify-content: flex-end
}

.slider-arrows {
	opacity: .6;
	transition: .3s;
	cursor: pointer
}

.slider-arrows:hover {
	opacity: 1
}

.slider-arrows--prev {
	margin-right: 14px;
	transform: rotate(180deg)
}

.testimonials-tile {
	margin-bottom: 30px
}

.testimonials-tile-info-block {
	display: flex;
	padding-left: 85px;
	margin-bottom: 25px;
}

.testimonials-tile-info--image {
	position: relative;
	display: flex;
	align-items: baseline;
	height: 80px;
	width: 80px;
	margin-right: 25px;
	border-radius: 50%;
	overflow: hidden;
}

.testimonials-tile-info--image img {
	display: block;
	width: 100% !important;
	height: 100% !important;
	object-fit: cover !important;
}

.testimonials-tile-info-text {
	padding-top: 15px;
	line-height: 1;
}

.testimonials-tile--text {
	position: relative;
	padding-left: 80px;
	font-size: 1.1em
}

.testimonials-tile--text::before {
	content: url('/img/assets/quote-icon.svg');
	position: absolute;
	top: 0;
	left: 0;
}

.testimonials-tile-info__name {
	margin-top: 0;
	margin-bottom: 5px;
	font-size: 1.15em;
	font-weight: 700
}

.testimonials-tile-info--duty {
	font-size: 1.1em
}

.testimonials-dots {
	position: absolute;
	bottom: 0px;
	right: 0;
	text-align: right;
	z-index: 2
}

.testimonials-dots button {
	width: 12px;
	height: 12px;
	padding: 0!important;
	margin-right: 10px;
	background: #eceeee;
	border: 0;
	border-radius: 50%;
	transition: .3s;
	cursor: pointer
}

.testimonials-dots button.active,
.testimonials-dots button:hover {
	background: #2e368f
}

.latest-news {
	padding-bottom: 100px
}

.latest-news__inner {
	display: flex;
	flex-wrap: wrap;
}

.latest-news__tile {
	display: flex;
	width: calc(33.33% - 25px);
	margin-bottom: 20px;
	margin-right: 25px;
}

.latest-news__tile__inner {
	width: 100%;
	flex-direction: column;
	padding: 20px;
	border: 1px solid #eceeee;
	border-radius: 5px;
	background: #FFF;
	box-shadow: 0 0 2px rgba(0, 0, 0, .5);
	transition: .3s
}

.latest-news__tile__inner:hover {
	border: 1px solid #4F58B8
}

.latest-news__tile-image {
	height: 240px;
	margin-bottom: 20px;
	overflow: hidden
}

.latest-news__tile-image img {
    display: block;
    width: 100%;
    height: 100%;
    border-radius: 3px;
    object-fit: contain;
}

.latest-news__tile-content {
	display: flex;
	flex-direction: column;
	margin-bottom: 30px;
	padding-bottom: 30px;
	border-bottom: 1px solid #eceeee
}

.main-content p.latest-news__tile--desc {
	margin-bottom: 0
}

.latest-news__tile-category {
	margin-bottom: 10px;
	font-weight: 600;
	letter-spacing: 3px;
	text-transform: uppercase
}

.latest-news__tile-category--news {
	color: #eeb201
}

.latest-news__tile-category--article {
	color: #2e368f
}

.latest-news__tile--title {
	height: 50px;
	margin-bottom: 15px;
	font-size: 1.4em;
	line-height: 1.25;
	font-weight: 500;
	color: #4b4c55
}

.latest-news__tile-content-info {
	display: flex;
	justify-content: space-between;
	align-items: center
}

.latest-news__tile-author,
.latest-news__tile-views,
.latest-news__tile-date {
	display: flex;
	line-height: 1;
	align-items: center
}

.latest-news__tile-content-info span {
	margin-left: 5px
}

.view-all-posts-block {
	display: flex;
	justify-content: center;
	margin: 0 auto;
}

.company-registration-banner {
	position: relative;
	padding-top: 50px;
	padding-bottom: 60px;
	background: url('/assets/img/img/company_registration_banner_bg.jpg');
	background-size: cover;
	background-position: bottom
}

.company-registration-banner::before {
	content: '';
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	background: #000;
	opacity: .6;
	z-index: 2
}

.company-registration-banner__content {
	display: flex;
	flex-direction: column;
	position: relative;
	z-index: 3
}

.company-registration-banner__content .button {
	color: #2e368f
}

.company-registration-banner__desc,
.company-registration-banner__title {
	display: flex;
	justify-content: center;
	align-items: center;
	color: #FFF;
}

.company-registration-banner__desc p {
	width: 466px;
	margin-bottom: 0;
	font-size: 1.15em;
	text-align: right;
	margin-right: 62px
}
