@import "utils/libs";
@import "utils/vars";
@import "utils/buttons";
@import "utils/mixins";
@import "utils/normalize";

// Modules
@import "modules/header.scss";
@import "modules/footer.scss";
@import "modules/left-sidebar.scss";
@import "modules/right-sidebar.scss";
@import "modules/modals.scss";

html {
  	line-height: $mainLine-Height;
	font-size: $mainFont-Size;
	color: $mainFont-Color;
}

html ::-webkit-scrollbar {
	width: .3em;
	height: .3em;
	cursor: pointer;
}

html ::-webkit-scrollbar-thumb {
	background: #2e368f;
	border-radius: .3em;
	cursor: pointer;
}

html ::-webkit-scrollbar-track {
	background: #c4c4c4;
	cursor: pointer;
}

body {
	margin: 0;
  	padding: 0;
  	font-family: $mainFont;
  	font-size: $mainFont-Size;
 	 font-weight: $mainFont-Weight;
  	-webkit-font-smoothing: antialiased;
  	-moz-osx-font-smoothing: grayscale;
  	background: $dark-05-color;
}

*, *:before, *:after { 
	box-sizing: border-box; 
	outline: none;
}

h1, h2, h3, h4, h5, h6 { margin: 0; }

a { 
  text-decoration: none; 
  color: #242e33;
  cursor: pointer;
}

.container {
	width: 100%;
	padding-right: 15px;
	padding-left: 15px;
	margin-right: auto;
  	margin-left: auto;
  
  @media screen and (min-width:576px) {
      max-width: 540px;
  }

  @media screen and (min-width:768px) {
      max-width: 720px;
  }

  @media screen and (min-width:992px) {
      max-width: 960px;
  }

  @media screen and (min-width:1200px) {
      max-width: 1140px
  }

  @media (min-width: 1440px) {
	  max-width: 1440px;
	  padding: 0 60px;
  }
}

h2,
h3,
h4 {
	margin-top: 0;
	margin-bottom: 30px;
	color: #242e33
}

.homepage h2 {
	font-size: 2em;
	line-height: 1.25;
	text-align: center
}

li,
p {
	margin-top: 0;
	margin-bottom: 5px;
	line-height: 1.5
}

svg,
img {
	position: relative;
}

button,
input,
option,
select {
	-moz-appearance: none;
	-webkit-appearance: none;
	border-radius: 0;
	appearance: none  
}

textarea {
	resize: none;
}


button {
	padding: 0;
	border: unset;
	background: unset;
	cursor: pointer;
}

input[type=search]::-webkit-search-cancel-button,
input[type=search]::-webkit-search-decoration,
input[type=search]::-webkit-search-results-button,
input[type=search]::-webkit-search-results-decoration {
	-webkit-appearance: none
}

.input-warning {
	font-size: .9em;
	font-weight: 500;
	color: #FF4848;
}

.input-notation {
	font-size: .9em;
}

.warning input,
.warning textarea {
	border-color: #FF4848 !important;
}

.inner-page {
	padding-top: 70px;
}

.homepage {
	padding-top: 0;
	background: $white-color;
}

@media (min-width:992px) {
	.inner-page .row>div:first-of-type {
		padding-left: 0
	}
	.inner-page .row>div:last-of-type {
		padding-right: 0
	}
}

@media (min-width:1200px) {
	.inner-page .row>.main-categories-tile-desktop-first {
		padding-left: 0
	}
	.inner-page .row>.main-categories-tile-desktop-last {
		padding-right: 0
	}
}


.full-width-img {
	display: flex;
	width: 100%;
	height: auto
}

.main-content-wrapper h2 {
	margin: 0 auto;
	margin-bottom: 30px;
	line-height: 1
}



.main-page-banner-wrapper {
	position: relative;
	padding-top: 180px;
	padding-bottom: 100px;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center
}

.main-page-banner-wrapper::before {
	position: absolute;
	content: '';
	width: 100%;
	height: 100%;
	top: 0;
	opacity: .6;
	z-index: 2;
	background: #000
}

.main-page-banner-text-block {
	position: relative;
	z-index: 3
}

.main-page-banner-text-block--title {
	margin-right: 0;
	margin-bottom: 30px;
	color: #FFF
}

.header-navigation-block-wrapper.white {
	background: #FFF
}

.header-navigation-block {
	height: 70px;
	display: flex;
	justify-content: space-between;
	padding-top: 15px;
	padding-bottom: 15px
}

.header-navigation-block .button {
	height: 40px;
}

.header-logo-column {
	display: flex;
	width: calc(33.33% - 15px)
}

.main-page-banner-text-block {
	display: flex;
	justify-content: flex-end
}

.main-page-banner-text-block-content {
	width: 35%;
	margin: 0 100px
}

.main-page-banner-text-block--desc {
	font-size: 1.15em;
	color: #FFF
}

.left-sidebar-menu::after {
	content: '';
	position: absolute;
	height: 100%;
	width: 2px;
	top: 0;
	right: 0px;
	background: #F5F6F7;
	z-index: 9;
}

.left-sidebar-menu.opened::after {
	content: none;
} 

.left-sidebar-menu {
	margin-top: 0;
	margin-left: 0;
	padding-left: 0;
	position: absolute;
	overflow: hidden;
	z-index: 4;
	transition: .3s;
}

.left-sidebar-menu li:hover .left-sidebar-menu--item--title {
	color: #fff;
	background-color: #4f58b8;
}

.left-sidebar-menu li {
	position: relative;
	width: 60px;
	margin-bottom: 0;
	list-style: none;
	transition: .3s;
}

.left-sidebar-menu li:last-of-type {
	margin-bottom: 0
}

.left-sidebar-menu.opened li {
	width: 310px;
	transition: .3s;
}

.left-sidebar-menu--item--title {
	position: absolute;
	top: 0;
	left: 60px;
	height: 60px;
	display: flex;
	align-items: center;
	font-weight: 500;
	line-height: 1;
	color: #2e368f;
	width: 250px;
	padding: 20px;
	background-color: #2E368F;
	border-bottom: 1px solid #ddd;
	color: #fff;
	-ms-transform: translate(-100%, 0%);
	-webkit-transform: translate(-100%, 0%);
	transform: translate(-100%, 0%);
	-webkit-transition: 0.5s ease-out;
	transition: 0.5s ease-out;
}

.left-sidebar-menu.opened .left-sidebar-menu--item--title {
	-ms-transform: translate(0%, 0%);
	-webkit-transform: translate(0%, 0%);
	transform: translate(0%, 0%);
	-webkit-transition: 0.5s ease-out;
	transition: 0.5s ease-out;
}

.left-sidebar-menu--icon {
	width: 60px;
	height: 60px;
	display: flex;
	align-items: center;
	justify-content: center;
	position: relative;
	background: #FFF;
	margin-right: 0;
	z-index: 8;
	cursor: pointer;
}

.left-sidebar-menu .left-sidebar-menu--icon:hover svg path,
.left-sidebar-menu--item.active .left-sidebar-menu--icon svg path {
	fill: #4f58b8;
}

.left-sidebar-menu--current-item span {
	margin-right: 15px
}

.left-sidebar-menu--current-item img,
.left-sidebar-menu--current-item svg {
	position: relative;
	top: 1px
}

.main-page-navigation-wrapper {
	position: relative;
	background-color: #1f2569
}

.main-page-navigation {
	display: flex;
	flex-direction: row;
	margin: 0;
	padding: 0
}

.main-page-navigation--item {
	display: flex;
	justify-content: center;
	margin-bottom: 0;
	width: stretch;
	height: 100%;
	list-style: none
}

.main-page-navigation--item a {
	display: block;
	padding: 50px 0;
	width: 100%;
	font-size: 1.5em;
	text-align: center;
	color: #FFF;
	transition: .3s;
	letter-spacing: .03em
}

.main-page-navigation--item a span {
	transition: .3s
}

.main-page-navigation--item a:hover span {
	margin-right: 50px;
	text-shadow: 0 0 2px #FFF;
	transition: .3s
}

.main-page-navigation--item a img,
.main-page-navigation--item a svg {
	position: relative;
	top: -2px;
	display: none
}

.main-page-navigation--item a:hover svg {
	display: inline
}

.main-page-navigation--item:nth-child(1) {
	background: #2e368f
}

.main-page-navigation--item:nth-child(2) {
	background: #39419f
}

.main-page-navigation--item:nth-child(3) {
	background: #434ba6
}

.main-page-navigation--item:nth-child(4) {
	background: #4d55ae
}

.main-page-navigation--item:nth-child(5) {
	background: #5a61b7
}

.main-page-categories-wrapper {
	padding: 50px 0
}

.main-page-categories-tiles {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between
}

.main-page-categories-tiles-left-column,
.main-page-categories-tiles-right-column {
	display: flex;
	width: calc(50% - 10px);
	flex-direction: column;
	flex-wrap: wrap
}

.main-page-categories-tile {
	position: relative;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	margin-bottom: 20px;
	border-radius: 10px;
	box-shadow: 0 0 2px rgba(0, 0, 0, .5)
}

.main-page-categories-tile-inner {
	display: flex;
	flex-direction: column;
	padding: 30px 20px
}

.main-page-categories-tile-inner::before {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: #000;
	opacity: .30;
	border-radius: 10px;
	z-index: 2;
	transition: .3s
}

.main-page-categories-tile-inner:hover::before {
	opacity: .55 !important;
}

.main-page-categories-tile * {
	z-index: 3
}

.main-page-categories-tile h3 {
	margin-top: 0;
	margin-bottom: 0;
	font-size: 1.5em;
	line-height: 1.7;
	color: #FFF
}

.main-page-categories-tile--main-link {
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	z-index: 4
}

.main-page-categories-tile-desc {
	color: #FFF;
}

.main-page-categories-tile-tags {
	position: absolute;
	left: 20px;
	bottom: 20px;
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	flex-wrap: wrap;
	z-index: 4
}

.tag {
	display: flex;
	justify-content: center;
	align-items: center;
	width: fit-content;
	min-height: 38px;
	margin-right: 10px;
	margin-bottom: 10px;
	padding: 0 10px;
	font-size: .85em;
	border-radius: 5px;
	color: #4b4c55;
	background: #e8e8e8;
	transition: .3s;
    word-wrap: break-word;
    word-break: break-word;
    white-space: pre-wrap;
}

.tag:hover {
	color: #2e368f;
	text-shadow: 0 0 1px #2e368f;
	box-shadow: 0 1px 3px rgba(0, 0, 0, .25);
	transition: .3s
}

.to-tags-modal {
	height: 38px;
}

.main-page-categories-tiles-right-column--sub-columns {
	display: flex;
	flex-direction: row;
	justify-content: space-between
}

#main-page-categories-tile--first {
	height: 490px;
	padding-bottom: 50px;
	background-size: cover;
	background-repeat: no-repeat;
}

#main-page-categories-tile--second {
	height: 235px;
	padding-bottom: 40px;
	background-size: cover;
	background-repeat: no-repeat;
}

.main-page-categories-tiles--third-column {
	display: flex;
	width: calc(50% - 10px)
}

#main-page-categories-tile--third {
	width: 100%;
	height: 490px;
	padding-bottom: 40px;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center
}

#main-page-categories-tile--fourth {
	height: 235px;
	padding-bottom: 40px;
	background-size: cover;
	background-repeat: no-repeat;
}

.main-page-categories-tile--fifth-and-sixth-column {
	display: flex;
	width: calc(50% - 10px);
	flex-direction: column
}

#main-page-categories-tile--fifth {
	width: 100%;
	height: 235px;
	padding-bottom: 40px;
	background-size: cover;
	background-repeat: no-repeat;
}

#main-page-categories-tile--fifth .main-page-categories-tile-desc,
#main-page-categories-tile--sixth .main-page-categories-tile-desc {
	display: none;
}

#main-page-categories-tile--sixth {
	width: 100%;
	height: 235px;
	padding-bottom: 40px;
	background-size: cover;
	background-repeat: no-repeat;
}

.main-page-section-heading {
	margin: 0 auto;
	margin-bottom: 50px;
	text-align: center;
}

.main-page-section-heading h2 {
	margin-bottom: 0px;
}

.last-forum-messages-wrapper {
	padding: 50px 0
}

.last-forum-messages-wrapper h2 {
	font-size: 2em;
	text-align: center
}

.last-forum-messages-tiles {
	display: flex;
	flex-wrap: wrap;
	flex-direction: row;
	justify-content: space-between;
	width: 100%;
	margin: 0 auto
}

.last-forum-messages-tile {
	width: calc(50% - 15px);
	margin-bottom: 20px
}

.last-forum-messages-tile-inner {
	padding: 10px 30px;
	border: 1px solid #eeb201;
	border-radius: 4px;
	background: #FFF;
	box-shadow: 0 0 4px rgba(0, 0, 0, .15)
}

.last-forum-messages-tile-category span,
.last-forum-messages-tile-question span {
	display: block
}

.last-forum-messages-tile-category {
	margin-bottom: 20px
}

.last-forum-messages-tile-question {
	margin-bottom: 15px;
	padding-bottom: 15px;
	border-bottom: 1px solid #eceeee
}

.last-forum-messages-tile-category--name,
.last-forum-messages-tile-question--name {
	margin-bottom: 10px;
	color: #eeb201;
	font-weight: 500
}

.last-forum-messages-tile-info {
	display: flex;
	justify-content: space-between;
	margin-bottom: 15px;
}

.last-forum-messages-tile-info>div {
	display: flex;
	align-items: center
}

.last-forum-messages-tile-info>div img,
.last-forum-messages-tile-info>div svg {
	margin-right: 5px
}

.latest-news-tile-link {
	display: flex;
	width: 165px;
	height: 48px;
	font-weight: 500;
	border: 1px solid #4F58B8;
	border-radius: 5px;
	background: #f5f6f7;
	transition: .3s
}

.last-forum-messages-tile-inner > .latest-news-tile-link {
	display: none;

	@media screen and (max-width: 992px) {
		display: flex;
	}
}

.latest-news-tile-link:hover {
	color: #FFF;
	background: #4F58B8
}

.latest-news-tile-link:hover svg path {
	fill: #FFF
}

.latest-news-tile-link a {
	display: flex;
	width: 100%;
	height: 100%;
	padding: 0 15px;
	justify-content: space-between;
	align-items: center
}

.latest-news-tile-link span {
	font-size: 1em;
	color: #1f2569;
}

.latest-news-tile-link:hover span {
	color: #FFF
}

.last-forum-messages-button {
	width: 188px;
	justify-content: center;
	margin: 0 auto
}

.verified-suppliers-wrapper {
	padding-top: 50px;
	padding-bottom: 50px
}

.verified-suppliers-header {
	width: 70%;
	position: relative;
	display: flex;
	align-items: center;
	margin: 0 auto;
	margin-bottom: 50px;
	align-items: center
}

.verified-suppliers-header .main-page-section-heading {
	margin-bottom: 0;
}

.verified-suppliers-wrapper h2 {
	margin: 0 auto;
	margin-bottom: 0
}

.verified-suppliers-arrows {
	position: absolute;
	right: 0;
	line-height: 1
}

.verified-suppliers-wrapper .owl-carousel .owl-item img {
	-webkit-filter: grayscale(1);
	filter: grayscale(1);
	transition: .3s;
	opacity: .5;
	cursor: pointer
}

.verified-suppliers-wrapper .owl-carousel .owl-item img:hover {
	-webkit-filter: grayscale(0);
	filter: grayscale(0);
	opacity: 1
}

.testimonials-wrapper {
	display: flex;
	justify-content: center;
	padding-top: 50px;
	padding-bottom: 50px
}

.testimonials-wrapper h2 {
	display: flex;
	position: relative;
	margin-bottom: 0
}

.testimonials-tiles-block-wrapper {
	position: relative;
	width: 70%;
	margin: 0 auto
}

.testimonials-header {
	position: relative;
	width: 70%;
	display: flex;
	align-items: center;
	justify-content: space-between;
	margin: 0 auto;
	margin-bottom: 25px;
	line-height: 1
}

.testimonials-header .main-page-section-heading {
	margin-bottom: 0;
}

.testimonials-dots {
	justify-content: flex-end
}

.slider-arrows {
	opacity: .6;
	transition: .3s;
	cursor: pointer
}

.slider-arrows:hover {
	opacity: 1
}

.slider-arrows--prev {
	margin-right: 14px;
	transform: rotate(180deg)
}

.testimonials-tile {
	margin-bottom: 30px
}

.testimonials-tile-info-block {
	display: flex;
	padding-left: 85px;
	margin-bottom: 25px;
}

.testimonials-tile-info--image {
	position: relative;
	display: flex;
	align-items: baseline;
	height: 80px;
	width: 80px;
	margin-right: 25px;
	border-radius: 50%;
	overflow: hidden;
}

.testimonials-tile-info--image img {
	display: block;
	width: 100% !important;
	height: 100% !important;
	object-fit: cover !important;
}

.testimonials-tile-info-text {
	padding-top: 15px;
	line-height: 1;
}

.testimonials-tile--text {
	position: relative;
	padding-left: 80px;
	font-size: 1.1em
}

.testimonials-tile--text::before {
	content: url('/img/assets/quote-icon.svg');
	position: absolute;
	top: 0;
	left: 0;
}

.testimonials-tile-info--name {
	margin-top: 0;
	margin-bottom: 5px;
	font-size: 1.15em;
	font-weight: 700
}

.testimonials-tile-info--duty {
	font-size: 1.1em
}

.testimonials-dots {
	position: absolute;
	bottom: 0px;
	right: 0;
	text-align: right;
	z-index: 2
}

.testimonials-dots button {
	width: 12px;
	height: 12px;
	padding: 0!important;
	margin-right: 10px;
	background: #eceeee;
	border: 0;
	border-radius: 50%;
	transition: .3s;
	cursor: pointer
}

.testimonials-dots button.active,
.testimonials-dots button:hover {
	background: #2e368f
}

.latest-news-wrapper {
	padding-bottom: 100px
}

.latest-news-tiles-block {
	display: flex;
	flex-wrap: wrap;
}

.latest-news-tile {
	display: flex;
	width: calc(33.33% - 25px);
	margin-bottom: 20px;
	margin-right: 25px;
}

.latest-news-tile-inner {
	width: 100%;
	flex-direction: column;
	padding: 20px;
	border: 1px solid #eceeee;
	border-radius: 5px;
	background: #FFF;
	box-shadow: 0 0 2px rgba(0, 0, 0, .5);
	transition: .3s
}

.latest-news-tile-inner:hover {
	border: 1px solid #4F58B8
}

.latest-news-tile-image {
	height: 240px;
	margin-bottom: 20px;
	overflow: hidden
}

.latest-news-tile-image img {
    display: block;
    width: 100%;
    height: 100%;
    border-radius: 3px;
    object-fit: contain;
}

.latest-news-tile-content {
	display: flex;
	flex-direction: column;
	margin-bottom: 30px;
	padding-bottom: 30px;
	border-bottom: 1px solid #eceeee
}

.main-content-wrapper p.latest-news-tile--desc {
	margin-bottom: 0
}

.latest-news-tile-category {
	margin-bottom: 10px;
	font-weight: 600;
	letter-spacing: 3px;
	text-transform: uppercase
}

.latest-news-tile-category--news {
	color: #eeb201
}

.latest-news-tile-category--article {
	color: #2e368f
}

.latest-news-tile--title {
	height: 50px;
	margin-bottom: 15px;
	font-size: 1.4em;
	line-height: 1.25;
	font-weight: 500;
	color: #4b4c55
}

.latest-news-tile-content-info {
	display: flex;
	justify-content: space-between;
	align-items: center
}

.latest-news-tile-author,
.latest-news-tile-views,
.latest-news-tile-date {
	display: flex;
	line-height: 1;
	align-items: center
}

.latest-news-tile-content-info span {
	margin-left: 5px
}

.view-all-posts-block {
	display: flex;
	justify-content: center;
	margin: 0 auto;
}

.company-registration-banner-wrapper {
	position: relative;
	padding-top: 50px;
	padding-bottom: 60px;
	background: url('/assets/img/img/company_registration_banner_bg.jpg');
	background-size: cover;
	background-position: bottom
}

.company-registration-banner-wrapper::before {
	content: '';
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	background: #000;
	opacity: .6;
	z-index: 2
}

.company-registration-banner-content {
	display: flex;
	flex-direction: column;
	position: relative;
	z-index: 3
}

.company-registration-banner-content .row {
	display: flex;
	justify-content: center;
	align-items: center
}

.company-registration-banner--desc,
.company-registration-banner--title {
	color: #FFF
}

.company-registration-banner--desc {
	width: 466px;
	margin-bottom: 0;
	font-size: 1.15em;
	text-align: right;
	margin-right: 62px
}

.company-registration-banner-content .button {
	color: #2e368f
}

.breadcrumbs-wrapper {
	padding: 20px 0
}

.breadcrumbs-list {
	display: flex;
	flex-direction: row;
	align-items: center;
	margin: 0;
	padding: 0
}

.breadcrumbs-list li {
	position: relative;
	margin-right: 25px;
	font-size: .9em;
	list-style: none
}

.breadcrumbs-list li:last-of-type {
	margin-right: 0
}

.breadcrumbs-list li::after {
	position: absolute;
	top: -3.5px;
	right: -15px;
	font-size: 2em;
	line-height: 1;
	content: '\00B7'
}

.breadcrumbs-list li:last-of-type::after {
	content: none
}

.breadcrumbs-list--item.current span {
	color: #4F58B8
}

.main-content-wrapper {
	position: relative;
	margin-bottom: 100px
}

.main-categories.page .main-content-wrapper {
	margin-bottom: 0
}

.main-content-wrapper>div>h1 {
	text-align: left
}

.main-content-wrapper h1 {
	margin-top: 0;
	margin-bottom: 30px;
	font-size: 2em;
	color: #21222b
}

.main-content-wrapper p {
	margin-bottom: 30px
}

.main-categories-list {
	display: flex;
	flex-direction: column;
	margin: 0;
	padding: 0
}

.main-categories-list li {
	list-style: none
}

.main-content-inner {
	display: flex;
	flex-direction: column;
	padding: 30px;
	padding-bottom: 50px;
	border: 1px solid #e8e8e8;
	border-radius: 5px;
	background: #FFF
}

.main-categories-header-block {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
	margin-bottom: 50px
}

.main-categories-header-block h1 {
	margin-bottom: 0
}

.main-categories-sorting-block {
	display: flex;
	flex-direction: row;
	align-items: center
}

.main-categories-sorting-block {
	position: relative
}

.main-categories-list-column {
	display: flex;
	width: calc(35% - 15px)
}

.main-categories-list-block {
	width: 100%
}

.main-categories-list {
	width: 100%;
	display: flex;
	position: relative;
	flex-direction: column;
	margin: 0;
	padding: 0
}

.main-categories-list>li {
	position: relative;
	margin-bottom: 5px;
	list-style: none;
	background: #f5f6f7;
	border: 1px solid #e3e3e3;
	border-radius: 3px;
	transition: .3s
}

.main-categories-list>li:last-of-type {
	margin-bottom: 0
}

.main-categories-list>li.active,
.main-categories-list>li:hover {
	border: 1px solid #1f2569;
	background: #2e368f
}

.main-categories-list>li>a {
	position: relative;
	display: flex;
	width: 100%;
	height: 100%;
	padding: 20px;
	font-size: 1.15em;
	font-weight: 500;
	color: #2e368f
}

.main-categories-list>li>a::before {
	content: url('/img/assets/category-menu-icon.svg');
	position: absolute;
	top: 20px;
	right: 20px;
	transition: .3s
}


.main-categories-list>li.active>a,
.main-categories-list>li:hover>a {
	color: #FFF
}

.main-categories-tiles-column {
	padding-right: 0
}

.main-categories-submenu-list {
	position: absolute;
	top: -1px;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	flex-wrap: wrap;
	margin: 0;
	padding: 0;
	padding-top: 12px;
	padding-bottom: 30px;
	column-span: all;
	background: #f5f6f7;
	box-shadow: 0 10px 20px rgba(0, 0, 0, .15);
	border-radius: 3px;
	visibility: hidden;
	transition: .3s;
	opacity: 0;
}

.main-categories-submenu-list li {
	display: flex;
	width: calc(50% - 15px);
}

.main-categories-submenu-list li:hover {
	background: #4F58B8
}

.main-categories-submenu-list li:hover a {
	color: #FFF;
}

.main-categories-submenu-list a {
	display: block;
	width: 100%;
	padding: 20px 18px;	
	line-height: 1;
	color: #21222b
}

.main-categories-content-block {
	display: flex;
	justify-content: space-between
}

.main-categories-tiles-column {
	display: flex;
	flex-direction: column;
	width: calc(65% - 15px)
}

.main-categories-tiles-block {
	display: flex;
	flex-wrap: wrap;
	flex-direction: row;
}

.main-categories-tile {
	width: calc(33.33% - 15px);
	margin-bottom: 20px;
	margin-right: 15px;
}

.main-categories-tile-inner {
	padding: 30px;
	border: 1px solid #d9d9d9;
	border-radius: 3px;
	background: #FFF;
	box-shadow: 0 0 4px rgba(0, 0, 0, .15);
	transition: .3s
}

.main-categories-tile-inner:hover {
	border: 1px solid #4F58B8;
	box-shadow: 0 0 30px rgba(52, 56, 140, .2)
}

.main-categories-tile--title {
	display: flex;
	justify-content: center;
	height: 50px;
	margin-top: 0;
	margin-bottom: 25px;
	font-size: 1.15em;
	font-weight: 500;
	text-align: center;
	color: #000
}

.main-categories-tile--title:hover {
	color: #2e368f
}

.main-categories-tile-links-block {
	display: flex;
	flex-direction: column;
	text-align: center
}

.main-categories-tile-links-block a {
	margin-bottom: 10px;
	font-size: .9em;
	color: #2e368f;
}

.main-categories-tile-links-block a:hover {
	font-weight: 500
}

.main-categories-tile-links-block a:last-of-type {
	margin-bottom: 0
}

.load-more-button-block {
	width: 100%;
	display: flex;
	justify-content: center;
	margin: 0 auto
}


