footer.footer_wrapper
  .container
    .footer_logo_block
      img.svg(src='/assets/img/assets/header/logo__dark.svg', alt='Логотип')
    .footer_info_block
      .footer_info_about_us_column
        h4.footer_info__title About Us
        p.footer_info__desc
          | Daleel is a portal that provides unique business intelligence to make the best decisions and allows exchange of knowledge that our industry needs to best meet its requirements.
      .footer_info_resources_column
        h4.footer_info__title Resources
        ul.footer_info_resources_list
          li.footer_info_resources_list__item
            a(href='#') Our Story and Why We Do It
          li.footer_info_resources_list__item
            a(href='#') Privacy Policy
          li.footer_info_resources_list__item
            a(href='#') Terms Of Use
          li.footer_info_resources_list__item
            a(href='#') Contacts
      .footer_info_block_newsletter_column
        h4.footer_info__title Newsletter
        .footer_info_block_newsletter
          input(type='email', placeholder='Email adress', maxlength='100', required='')
          button(type='submit') Subscribe
        span.footer_info__copyright © 2019 All rights reserved Daleel
