footer.footer
  .container
    .footer-logo
      img.svg(src='/assets/img/assets/header/logo__dark.svg', alt='Логотип')
    .footer-info
      .footer-about-us-column
        h4.footer-info--title About Us
        p.footer-info--desc
          | Daleel is a portal that provides unique business intelligence to make the best decisions and allows exchange of knowledge that our industry needs to best meet its requirements.
      .footer-resources-column
        h4.footer-info--title Resources
        ul.footer-info-resources-list
          li.footer-info-resources-list--item
            a(href='#') Our Story and Why We Do It
          li.footer-info-resources-list--item
            a(href='#') Privacy Policy
          li.footer-info-resources-list--item
            a(href='#') Terms Of Use
          li.footer-info-resources-list--item
            a(href='#') Contacts
      .footer-newsletter-column
        h4.footer-info--title Newsletter
        .footer-newsletter
          input(type='email', placeholder='Email adress', maxlength='100', required='')
          button(type='submit') Subscribe
        span.footer-info--copyright © 2019 All rights reserved Daleel
