footer.footer
  .container
    .footer__logo
      img.svg(src='/assets/img/assets/header/logo__dark.svg', alt='Логотип')
    .footer__info
      .footer__about-us-column
        h4.footer__info__title About Us
        p.footer__info__desc
          | Daleel is a portal that provides unique business intelligence to make the best decisions and allows exchange of knowledge that our industry needs to best meet its requirements.
      .footer__resources-column
        h4.footer__info__title Resources
        ul.footer__info__resources-list
          li.footer__info__resources-list__item
            a(href='#') Our Story and Why We Do It
          li.footer__info__resources-list__item
            a(href='#') Privacy Policy
          li.footer__info__resources-list__item
            a(href='#') Terms Of Use
          li.footer__info__resources-list__item
            a(href='#') Contacts
      .footer__newsletter-column
        h4.footer__info__title Newsletter
        .footer__newsletter__content
          input(type='email', placeholder='Email adress', maxlength='100', required='')
          button(type='submit') Subscribe
        span.footer__info__copyright © 2019 All rights reserved Daleel
