header.header_wrapper
  .header_navigation_block_wrapper
    .container
      .header_navigation_block
        .header_logo_column
          img.logo(src='/assets/img/assets/header/logo__dark.svg', alt='Логотип')
          .mobile_navigation_buttons_block
            button.mobile_menu_icon.hamburger.hamburger--arrow.is-unactive(onclick='void(0)', type='button')
              span.hamburger-box
                span.hamburger-inner
        .header_navigation_column
          .header_navigation_search
            input(type='search', placeholder='Search request', maxlength='100', required='')
            button Search
          .header_buttons
            a.button.button__blue(href='#') Log in
            span.button.button__yellow.registration_toggle_menu_button
              span Registration
              .button__icon
                img(src='/assets/img/assets/drop_down_menu_icon.svg', alt='Image')
            .registration_toggle_menu
              .button__blue.button
                a(href='#')
                  .button__icon
                    img(src='/assets/img/assets/personal_account_icon.svg', alt='Image')
                  span Create Personal Account
              span.registration_toggle_menu__line
              .button__yellow.button
                a(href='#')
                  .button__icon
                    img(src='/assets/img/assets/company_account_icon.svg', alt='Image')
                  span Create Company Account
          button.desktop_toggle_menu_icon.hamburger.hamburger--slider.is-unactive.blue(onclick='void(0)', type='button')
            span.hamburger-box
              span.hamburger-inner
