header.header
  .header__navigation
    .container  
      .header__navigation__inner
        .header__logo-column
          img.logo(src='/assets/img/assets/header/logo__dark.svg', alt='Логотип')
        .header__navigation-column
          .header__search
            input(type='search', placeholder='Search request', maxlength='100', required='')
            button Search
          .header__buttons
            a.button.button--blue(href='#') Log in
            span.button.button--yellow.registration-toggle-menu-button
              span Registration
              .button--icon
                img(src='/assets/img/assets/drop_down_menu_icon.svg', alt='Image')
            .registration-toggle-menu
              .button--blue.button
                a(href='#')
                  .button--icon
                    img(src='/assets/img/assets/personal_account_icon.svg', alt='Image')
                  span Create Personal Account
              span.registration-toggle-menu__line
              .button--yellow.button
                a(href='#')
                  .button--icon
                    img(src='/assets/img/assets/company_account_icon.svg', alt='Image')
                  span Create Company Account
          button.header__menu-toggle-button.hamburger.hamburger--slider.is-unactive.white
            span.hamburger-box
              span.hamburger-inner

  .header__toggle-menu
    .container
      .header__toggle-menu__inner
        ul.toggle-menu
          li.toggle-menu__item.white
            a(href='#') Suppliers
          li.toggle-menu__item.white
            a(href='#') Intelligence
          li.toggle-menu__item.white
            a(href='#') News
          li.toggle-menu__item.white
            a(href='#') Expert articles
          li.toggle-menu__item.white
            a(href='#') Contacts
        a.button.button--yellow(href='#')
          .button--icon
            img(src='/assets/img/assets/drop_down_menu_icon.svg', alt='Image', class='svg')
          span Add company