doctype html
html(lang='en')
    head
        title Pizdos
    body.authorized
        header.header_wrapper
            div.container
                p Lorem ipsum, dolor sit amet consectetur adipisicing elit. |
                | Harum ex aliquid culpa et error eum nesciunt mollitia aspernatur | voluptatibus optio nulla esse eos tenetur voluptates, autem voluptatem, impedit assumenda rem!
                | p uebans
    