extends ../layout/main

block variables
    - var title = 'Homepage | Daleel';
    - var pageClass = 'homepage';


block content
    section.main-page-banner-wrapper(style="background-image: url('/assets/img/img/main_banner_bg.jpg');")
        .container
            .main-page-banner-text-block
                .main-page-banner-text-block-content
                    h1.main-page-banner-text-block--title OPERATIONAL EXCELLENCE
                    p.main-page-banner-text-block--desc 
                        | Daleel is a portal that provides unique business intelligence to make the best decisions and allows exchange of knowledge that our industry needs to best meet its requirements.
    section.main-page-navigation-wrapper
        .container
            ul.main-page-navigation
                li.main-page-navigation--item
                    a(href='#')
                        span Suppliers
                        img.svg(src='/assets/img/assets/right_chevron_icon.svg', alt='Image')
                li.main-page-navigation--item
                    a(href='#')
                        span Intelligence
                        img.svg(src='/assets/img/assets/right_chevron_icon.svg', alt='Image')
                li.main-page-navigation--item
                    a(href='#')
                        span News
                        img.svg(src='/assets/img/assets/right_chevron_icon.svg', alt='Image')
                li.main-page-navigation--item
                    a(href='#')
                        span Expert articles
                        img.svg(src='/assets/img/assets/right_chevron_icon.svg', alt='Image')
    section.main-page-categories-wrapper
        .container
            .main-page-section-heading
                h2 Intelligence with information that matters
                span Actionable insight
            .main-page-categories-tiles
                .main-page-categories-tiles-left-column
                    #main-page-categories-tile--first.main-page-categories-tile(style="background-image: url('/assets/img/img/categories/02.jpg') ;")
                        .main-page-categories-tile-inner
                            a.main-page-categories-tile--main-link(href='#')
                            h3 Site Surveys & Investigation
                            .main-page-categories-tile-desc
                                p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus in, eum deleniti magnam velit aspernatur, impedit odio officiis nemo similique expedita consequatur iusto suscipit. Nihil, ut quis saepe repellendus iste.
                            .main-page-categories-tile-tags
                                a.tag(href='#') #tag-1
                                a.tag(href='#') #long-long-tag-2
                                a.tag(href='#') #tag-1
                                a.tag(href='#') #long-long-tag-2
                                button.tag.to-tags-modal ...
                    #main-page-categories-tile--fourth.main-page-categories-tile(style="background-image: url('/assets/img/img/categories/01.jpg') ;")
                        .main-page-categories-tile-inner
                            a.main-page-categories-tile--main-link(href='#')
                            h3 Site Surveys & Investigation
                            .main-page-categories-tile-desc
                                p Lorem ipsum dolor sit amet, consectetur adipisicing elit
                            .main-page-categories-tile-tags
                                a.tag(href='#') #tag-1
                                a.tag(href='#') #long-long-tag-2
                                button.tag.to-tags-modal ...
                .main-page-categories-tiles-right-column
                    #main-page-categories-tile--second.main-page-categories-tile(style="background-image: url('/assets/img/img/categories/02.jpg') ;")
                        .main-page-categories-tile-inner
                            a.main-page-categories-tile--main-link(href='#')
                            h3 Site Surveys & Investigation
                            .main-page-categories-tile-desc
                                p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus in, eum delsa
                            .main-page-categories-tile-tags
                                    a.tag(href='#') #tag-1
                                    a.tag(href='#') #long-long-tag-2
                                    button.tag.to-tags-modal ...
                    .main-page-categories-tiles-right-column--sub-columns
                        .main-page-categories-tiles--third-column
                            #main-page-categories-tile--third.main-page-categories-tile(style="background-image: url('/assets/img/img/categories/01.jpg') ;")
                                .main-page-categories-tile-inner
                                    a.main-page-categories-tile--main-link(href='#')
                                    h3 Site Surveys & Investigation
                                    .main-page-categories-tile-desc
                                        p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus in, eum deleniti magnam velit aspernatur, impedit odio officiis nemo similique expedita consequatur iusto suscipit. Nihil, ut quis saepe repellendus iste.
                                    .main-page-categories-tile-tags
                                        a.tag(href='#') #tag-1
                                        a.tag(href='#') #long-long-tag-2
                                        button.tag.to-tags-modal ...
                        .main-page-categories-tile--fifth-and-sixth-column
                            #main-page-categories-tile--fifth.main-page-categories-tile(style="background-image: url('/assets/img/img/categories/02.jpg') ;")
                                .main-page-categories-tile-inner
                                    a.main-page-categories-tile--main-link(href='#')
                                    h3 Site Surveys & Investigation
                                    .main-page-categories-tile-desc
                                        p orem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus in, eum deleniti magnam velit aspernatur, impedit odio officiis nemo similique expedita consequatur iusto suscipit. Nihil, ut quis saepe repellendus iste.
                                    .main-page-categories-tile-tags
                                        a.tag(href='#') #tag-1
                                        a.tag(href='#') #long-long-tag-2
                                        button.tag.to-tags-modal ...
                            #main-page-categories-tile--sixth.main-page-categories-tile(style="background-image: url('/assets/img/img/categories/01.jpg') ;")
                                .main-page-categories-tile-inner
                                    a.main-page-categories-tile--main-link(href='#')
                                    h3 Site Surveys & Investigation
                                    .main-page-categories-tile-desc
                                        p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus in, eum deleniti magnam velit aspernatur, impedit odio officiis nemo similique expedita consequatur iusto suscipit. Nihil, ut quis saepe repellendus iste.
                                    .main-page-categories-tile-tags
                                        a.tag(href='#') #tag-1
                                        a.tag(href='#') #long-long-tag-2
                                        button.tag.to-tags-modal ...
                a.main-page-categories-button.button.button--blue(href='#') View All Categories
    section.last-forum-messages-wrapper
        .container
            .main-page-section-heading
                h2 Questions & Answers
                span Subheading
            .last-forum-messages-tiles
                .last-forum-messages-tile
                    .last-forum-messages-tile-inner
                        .last-forum-messages-tile-category
                            span.last-forum-messages-tile-category--name Category
                            span.last-forum-messages-tile-category--title Seismic Survey and Data Acquisition
                        .last-forum-messages-tile-question
                            span.last-forum-messages-tile-question--name Question
                            span.last-forum-messages-tile-question--title What is the purpouse of drilling rings in gas supply industry?
                        .last-forum-messages-tile-info
                            .last-forum-messages-tile-info-answers
                                img.svg(src='/assets/img/assets/news/comments_counter_icon.svg', alt='Image')
                                span 118 answers
                            .latest-news-tile-date
                                img.svg(src='/assets/img/assets/news/publication_date_icon.svg', alt='Image')
                                span 24.01.2019
                            .latest-news-tile-link
                                a(href='#')
                                    span Go to Question
                                    img.svg(src='/assets/img/assets/small_arrow_icon.svg', alt='Image')
                        .latest-news-tile-link
                            a(href='#')
                                span Go to Question
                                img.svg(src='/assets/img/assets/small_arrow_icon.svg', alt='Image')
                .last-forum-messages-tile
                    .last-forum-messages-tile-inner
                        .last-forum-messages-tile-category
                            span.last-forum-messages-tile-category--name Category
                            span.last-forum-messages-tile-category--title Storage & Warehousing
                        .last-forum-messages-tile-question
                            span.last-forum-messages-tile-question--name Question
                            span.last-forum-messages-tile-question--title What is the purpouse of drilling rings in gas supply industry?
                        .last-forum-messages-tile-info
                            .last-forum-messages-tile-info-answers
                                img.svg(src='/assets/img/assets/news/comments_counter_icon.svg', alt='Image')
                                span 118 answers
                            .latest-news-tile-date
                                img.svg(src='/assets/img/assets/news/publication_date_icon.svg', alt='Image')
                                span 24.01.2019
                            .latest-news-tile-link
                                a(href='#')
                                    span Go to Question
                                    img.svg(src='/assets/img/assets/small_arrow_icon.svg', alt='Image')
                        .latest-news-tile-link
                            a(href='#')
                                span Go to Question
                                img.svg(src='/assets/img/assets/small_arrow_icon.svg', alt='Image')
                .last-forum-messages-tile
                    .last-forum-messages-tile-inner
                        .last-forum-messages-tile-category
                            span.last-forum-messages-tile-category--name Category
                            span.last-forum-messages-tile-category--title Site Surveys & Investigation
                        .last-forum-messages-tile-question
                            span.last-forum-messages-tile-question--name Question
                            span.last-forum-messages-tile-question--title What is the purpouse of drilling rings in gas supply industry?
                        .last-forum-messages-tile-info
                            .last-forum-messages-tile-info-answers
                                img.svg(src='/assets/img/assets/news/comments_counter_icon.svg', alt='Image')
                                span 118 answers
                            .latest-news-tile-date
                                img.svg(src='/assets/img/assets/news/publication_date_icon.svg', alt='Image')
                                span 24.01.2019
                            .latest-news-tile-link
                                a(href='#')
                                    span Go to Question
                                    img.svg(src='/assets/img/assets/small_arrow_icon.svg', alt='Image')
                        .latest-news-tile-link
                            a(href='#')
                                span Go to Question
                                img.svg(src='/assets/img/assets/small_arrow_icon.svg', alt='Image')
                .last-forum-messages-tile
                    .last-forum-messages-tile-inner
                        .last-forum-messages-tile-category
                            span.last-forum-messages-tile-category--name Category
                            span.last-forum-messages-tile-category--title Structural Steel
                        .last-forum-messages-tile-question
                            span.last-forum-messages-tile-question--name Question
                            span.last-forum-messages-tile-question--title What is the purpouse of drilling rings in gas supply industry?
                        .last-forum-messages-tile-info
                            .last-forum-messages-tile-info-answers
                                img.svg(src='/assets/img/assets/news/comments_counter_icon.svg', alt='Image')
                                span 118 answers
                            .latest-news-tile-date
                                img.svg(src='/assets/img/assets/news/publication_date_icon.svg', alt='Image')
                                span 24.01.2019
                            .latest-news-tile-link
                                a(href='#')
                                    span Go to Question
                                    img.svg(src='/assets/img/assets/small_arrow_icon.svg', alt='Image')
                        .latest-news-tile-link
                            a(href='#')
                                span Go to Question
                                img.svg(src='/assets/img/assets/small_arrow_icon.svg', alt='Image')
                a.last-forum-messages-button.button.button--blue(href='#') Forum
    section.latest-news-wrapper
        .container
            .main-page-section-heading
                h2 News & Expert Articles
                span Subheading
            .latest-news-tiles-block
                .latest-news-tile
                    a.latest-news-tile-inner(href='#')
                        .latest-news-tile-image
                            img(src='/assets/img/img/news/01.jpg', alt='Image')
                        .latest-news-tile-content
                            span.latest-news-tile-category.latest-news-tile-category--news News
                            h3.latest-news-tile--title Saudi Aramco awards contracts to L&T-led consortium
                            p.latest-news-tile--desc
                            | L&T Hydrocarbon Engineering will work with Subsea 7 on projects within Aramco's Zuluf and Berri fields
                        .latest-news-tile-content-info
                            .latest-news-tile-author
                                img.svg(src='/assets/img/assets/news/author_icon.svg', alt='Image')
                                span Adam
                            .latest-news-tile-views
                                img.svg(src='/assets/img/assets/news/view_counter_icon.svg', alt='Image')
                                span 56251
                            .latest-news-tile-date
                                img.svg(src='/assets/img/assets/news/publication_date_icon.svg', alt='Image')
                                span 24.01.2019
                .latest-news-tile
                    a.latest-news-tile-inner(href='#')
                        .latest-news-tile-image
                            img(src='/assets/img/img/news/02.jpg', alt='Image')
                        .latest-news-tile-content
                            span.latest-news-tile-category.latest-news-tile-category--article Expert article
                            h3.latest-news-tile--title Saudi Aramco awards contracts to L&T-led consortium
                            p.latest-news-tile--desc
                            | L&T Hydrocarbon Engineering will work with Subsea 7 on projects within Aramco's Zuluf and Berri fields
                        .latest-news-tile-content-info
                            .latest-news-tile-author
                                img.svg(src='/assets/img/assets/news/author_icon.svg', alt='Image')
                                span Adam Boyshik
                            .latest-news-tile-views
                                img.svg(src='/assets/img/assets/news/view_counter_icon.svg', alt='Image')
                                span 56251
                            .latest-news-tile-date
                                img.svg(src='/assets/img/assets/news/publication_date_icon.svg', alt='Image')
                                span 24.01.2019
                .latest-news-tile
                    a.latest-news-tile-inner(href='#')
                        .latest-news-tile-image
                            img(src='/assets/img/img/news/03.jpg', alt='Image')
                        .latest-news-tile-content
                            span.latest-news-tile-category.latest-news-tile-category--news News
                            h3.latest-news-tile--title Saudi Aramco awards contracts to L&T-led consortium
                            p.latest-news-tile--desc
                            | L&T Hydrocarbon Engineering will work with Subsea 7 on projects within Aramco's Zuluf and Berri fields
                        .latest-news-tile-content-info
                            .latest-news-tile-author
                                img.svg(src='/assets/img/assets/news/author_icon.svg', alt='Image')
                                span Adam Boyshik
                            .latest-news-tile-views
                                img.svg(src='/assets/img/assets/news/view_counter_icon.svg', alt='Image')
                                span 56251
                            .latest-news-tile-date
                                img.svg(src='/assets/img/assets/news/publication_date_icon.svg', alt='Image')
                                span 24.01.2019
    section.company-registration-banner-wrapper
        .container
            .company-registration-banner-content
                .row
                    h2.company-registration-banner--title Register your company and grow your business
                .row
                    p.company-registration-banner--desc
                        | Understand that growth for your business is and how o improve your succes rate. Show up in front of buyers at the right time with the right offering.
                    a.button.button--yellow(href='#') Register your company now
    section.categories-tags-modal-block.modal-block
        .categories-tags-modal-content
            .categories-tags-modal-inner-header
                h3 Tags
                span.modal-close
                    img(src='/assets/img/assets/modal_close_icon.svg', alt='Image')
            .categories-tags-modal-inner-body

    
    block scripts
     script(src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js")
            

    