.button {
	display: flex;
	align-items: center;
	height: 48px;
	padding: 0 30px;
	font-weight: 500;
	border: 0;
	border-radius: 5px;
	transition: .3s;
	cursor: pointer;
}

.button a {
	display: flex;
	justify-content: center;
	align-items: center;
}

.button.full_width {
	padding: 0 50px
}

.button__icon {
	display: flex;
	justify-content: center;
	margin-right: 10px
}

.button__log_in {
	width: 50%;
	height: 54px;
	justify-content: center;
	margin: 0 auto;
}

.dropdown_rotation::after {
	transform: rotate(180deg);
	transition: .3s
}

.button__blue {
	color: $white_color;	
	background: $primary_light_color
}

.button__blue span {
	color: $white_color;	
}

.registration_toggle_menu_button .button__icon {
	margin-left: 10px;
	margin-right: 0;
}

.registration_toggle_menu_button.active img {
	transform: rotate(180deg);
}

.button__light_blue {
	color: $primary_light_color;
	border: 1px solid $primary_light_color;
	background: $dark_05_color;
	justify-content: center;
}

.button__light_blue:hover {
	color: $white_color;
	background: $primary_light_color;
	border: 1px solid $primary_light_color;
}

.button__cv {
	display: flex;
	width: 260px;
	padding: 30px;
	border: 1px solid $primary_light_color;
	border-radius: 5px;
}

.button__cv:hover {
	color: $white_color;
	background: $primary_light_color;
}

.button__cv:hover svg path {
	fill: $white_color;
}

.button__cv .button__cv_content {
	display: flex;
	align-items: center;
	margin: 0 auto;
}

.button__add:hover svg path {
	fill: $white_color;
}

.header_account_button {
	width: 190px;
	padding-left: 25px;
	padding-right: 20px
}

.load_more_button {
	border: 1px solid $primary_light_color;
	border-radius: 5px
}

.load_more_button:hover {
	color: $primary_light_color;
	background: #eceeee
}

.load_more_button:hover svg path {
	fill: $primary_light_color
}

.main_page_categories_button {
	width: 220px;
	margin: 0 auto
}

.header_account_button {
	position: relative;
	font-size: .9em;
	color: #4b4c55
}

.header_account_button::after {
	content: url('/img/assets/small_arrow_icon_blue.svg');
	position: relative;
	top: 0;
	right: -40px;
	transition: .3s
}

.desktop_toggle_menu__search_button {
	justify-content: center
}

.button__blue:hover {
	background: $primary_light_color
}

.button__bordered_blue {
	color: #9ea8ab;
	background: 0 0;
	border: 1px solid #9ea8ab
}

.button__bordered_blue:hover {
	color: $white_color;
	border: 1px solid $primary_light_color;
	background: $primary_light_color
}

.button__bordered_yellow {
	color: #ffe69b;
	background: 0 0;
	border: 1px solid #ffc519
}

.button__bordered_yellow:hover {
	color: $white_color;
	border: 1px solid #ffd559;
	background: #ffd559
}

.button__yellow {
	color: #1f2569;
	background: #ffc519
}

.button__yellow:hover {
	background: #ffd559
}

.button__white {
	color: #4b4c55;
	border: 1px solid #9ea8ab
}

.button__edit:hover {
	color: #1F2569;
}

.button__archive,
.button__delete {
	border: 1px solid #D3D3D5;
	background: $dark_05_color;
}

.icon_only {
	padding: 0 12px !important;
}

.button.icon_only span {
	color: #242E33 !important;
	font-size: .9em !important;
	font-weight: 400 !important;
}

.button__archive span {
	color: $primary_light_color
}

.button__archive:hover {
	border: 1px solid $primary_light_color;
	background: $primary_light_color;
}

.button__archive:hover span {
	color: $white_color;
}

.button__archive:hover svg path {
	fill: $white_color;
}

.button__delete span {
	color: $danger_color;
}

.button__delete:hover span {
	color: $white_color;	
}

.button__delete:hover {

	border: 1px solid $danger_color;
	background: $danger_color;
}

.button__delete:hover svg path {
	fill: $white_color;
}

.button__request_review {
	width: 220px;
	border: 1px solid $primary_light_color;
}

.button__request_review span {
	color: $primary_light_color;	
}

.button__request_review:hover {
	color: $white_color;
	border: 1px solid $primary_light_color;
	background: $primary_light_color;
}

.button__request_review:hover span {
	color: $white_color;
}

.button__request_review:hover svg path {
	fill: $white_color;
}

.button__add_new {
	border: 1px solid $success_color;	
	background: #ebf5e2;
}

.button__add_new span {
	color: $success_color;	
}

.button__add_new:hover {
	background: $success_color;
}

.button__add_new:hover span {
	color: $white_color;
}

.button__add_new:hover svg path {
	fill: $white_color;
}

.button__view {
    color: #1f2569;
    border: 1px solid $primary_light_color;
    background: $dark_05_color;
}

.button__view span {
	margin-right: 10px;
}

.button__view:hover span {
	color: $white_color;
}

.button__view:hover {
	border: 1px solid $primary_light_color;
	background: $primary_light_color;
}

.button__view:hover svg path {
	fill: $white_color;
}

.creation_page_element_submit__file_submit_button {
	width: 100%;
	justify-content: center;
}

.creation_page_element__file_delete_button {
	width: 100%;
	justify-content: center;
	padding: 0;
}

.creation_page_element__file_delete_button .button__icon {
	margin: 0;
}

.creation_page_element__file_delete_button:hover svg path {
	fill: $white_color;
}

.main_categories_show_companies_button span {
	padding: 0 5px
}

.button__white:hover {
	color: $white_color;
	background: $primary_light_color
}

.button__cancel {
	background: $dark_05_color;
	border: 1px solid $primary_light_color;
}

.button__cancel:hover {
	color: $white_color;
	background: $primary_light_color;
}

.button__delete_yes:hover {
	color: $white_color;
	background: $danger_color;
}
