.button {
	display: flex;
	align-items: center;
	height: 48px;
	padding: 0 30px;
	font-weight: 500;
	border: 0;
	border-radius: 5px;
	transition: .3s;
	cursor: pointer;
}

.button a {
	display: flex;
	justify-content: center;
	align-items: center;
}

.button.full-width {
	padding: 0 50px
}

.button--icon {
	display: flex;
	justify-content: center;
	margin-right: 10px
}

.button--log-in {
	width: 50%;
	height: 54px;
	justify-content: center;
	margin: 0 auto;
}

.dropdown-rotation::after {
	transform: rotate(180deg);
	transition: .3s
}

.button--blue {
	color: $white-color;	
	background: $primary_default_color
}

.button--blue span {
	color: $white-color;	
}

.registration-toggle-menu--button .button--icon {
	margin-left: 10px;
	margin-right: 0;
}

.registration-toggle-menu--button.active img {
	transform: rotate(180deg);
}

.button--light-blue {
	color: $primary-light-color;
	border: 1px solid $primary-light-color;
	background: $dark-05-color;
	justify-content: center;
}

.button--light-blue:hover {
	color: $white-color;
	background: $primary-light-color;
	border: 1px solid $primary-light-color;
}

.button--cv {
	display: flex;
	width: 260px;
	padding: 30px;
	border: 1px solid $primary-light-color;
	border-radius: 5px;
}

.button--cv:hover {
	color: $white-color;
	background: $primary-light-color;
}

.button--cv:hover svg path {
	fill: $white-color;
}

.button--cv .button--cv-content {
	display: flex;
	align-items: center;
	margin: 0 auto;
}

.button--add:hover svg path {
	fill: $white-color;
}

.header-account-button {
	width: 190px;
	padding-left: 25px;
	padding-right: 20px
}

.load-more-button {
	border: 1px solid $primary-light-color;
	border-radius: 5px
}

.load-more-button:hover {
	color: $primary-light-color;
	background: #eceeee
}

.load-more-button:hover svg path {
	fill: $primary-light-color
}

.main-page-categories-button {
	width: 220px;
	margin: 0 auto
}

.header-account-button {
	position: relative;
	font-size: .9em;
	color: #4b4c55
}

.header-account-button::after {
	content: url('/img/assets/small-arrow-icon-blue.svg');
	position: relative;
	top: 0;
	right: -40px;
	transition: .3s
}

.desktop-toggle-menu--search-button {
	justify-content: center
}

.button--blue:hover {
	background: $primary-light-color
}

.button--bordered-blue {
	color: #9ea8ab;
	background: 0 0;
	border: 1px solid #9ea8ab
}

.button--bordered-blue:hover {
	color: $white-color;
	border: 1px solid $primary-light-color;
	background: $primary-light-color
}

.button--bordered-yellow {
	color: #ffe69b;
	background: 0 0;
	border: 1px solid #ffc519
}

.button--bordered-yellow:hover {
	color: $white-color;
	border: 1px solid #ffd559;
	background: #ffd559
}

.button--yellow {
	color: #1f2569;
	background: #ffc519
}

.button--yellow:hover {
	background: #ffd559
}

.button--white {
	color: #4b4c55;
	border: 1px solid #9ea8ab
}

.button--edit:hover {
	color: #1F2569;
}

.button--archive,
.button--delete {
	border: 1px solid #D3D3D5;
	background: $dark-05-color;
}

.icon-only {
	padding: 0 12px !important;
}

.button.icon-only span {
	color: #242E33 !important;
	font-size: .9em !important;
	font-weight: 400 !important;
}

.button--archive span {
	color: $primary-light-color
}

.button--archive:hover {
	border: 1px solid $primary-light-color;
	background: $primary-light-color;
}

.button--archive:hover span {
	color: $white-color;
}

.button--archive:hover svg path {
	fill: $white-color;
}

.button--delete span {
	color: $danger-color;
}

.button--delete:hover span {
	color: $white-color;	
}

.button--delete:hover {

	border: 1px solid $danger-color;
	background: $danger-color;
}

.button--delete:hover svg path {
	fill: $white-color;
}

.button--request-review {
	width: 220px;
	border: 1px solid $primary-light-color;
}

.button--request-review span {
	color: $primary-light-color;	
}

.button--request-review:hover {
	color: $white-color;
	border: 1px solid $primary-light-color;
	background: $primary-light-color;
}

.button--request-review:hover span {
	color: $white-color;
}

.button--request-review:hover svg path {
	fill: $white-color;
}

.button--add-new {
	border: 1px solid $success-color;	
	background: #ebf5e2;
}

.button--add-new span {
	color: $success-color;	
}

.button--add-new:hover {
	background: $success-color;
}

.button--add-new:hover span {
	color: $white-color;
}

.button--add-new:hover svg path {
	fill: $white-color;
}

.button--view {
    color: #1f2569;
    border: 1px solid $primary-light-color;
    background: $dark-05-color;
}

.button--view span {
	margin-right: 10px;
}

.button--view:hover span {
	color: $white-color;
}

.button--view:hover {
	border: 1px solid $primary-light-color;
	background: $primary-light-color;
}

.button--view:hover svg path {
	fill: $white-color;
}

.creation-page-element-submit--file-submit-button {
	width: 100%;
	justify-content: center;
}

.creation-page-element--file-delete-button {
	width: 100%;
	justify-content: center;
	padding: 0;
}

.creation-page-element--file-delete-button .button--icon {
	margin: 0;
}

.creation-page-element--file-delete-button:hover svg path {
	fill: $white-color;
}

.main-categories-show-companies-button span {
	padding: 0 5px
}

.button--white:hover {
	color: $white-color;
	background: $primary-light-color
}

.button--cancel {
	background: $dark-05-color;
	border: 1px solid $primary-light-color;
}

.button--cancel:hover {
	color: $white-color;
	background: $primary-light-color;
}

.button--delete-yes:hover {
	color: $white-color;
	background: $danger-color;
}
