// Font Family
$mainFont                : 'Roboto', sans-serif;

// Font
$mainFont_Color           : #21222b;
$mainFont_Size            : 16px;
$mainFont_Weight          : 400;
$mainLine_Height          : 1.5;

// Width
$largeDesktop_Width       : 1920px;
$desktop_Width            : 1440px;
$smDesktop_Width          : 992px;
$table_Width              : 768px;
$phoneLandscape_Width     : 480px;
$phone_Width              : 320px;

// Colors
$primary_default_color           : #2e368f;
$primary_light_color             : #4f58b8;
$primary_dark_color              : #1f2569;

$secondary_default_color         : #ffc519;
$secondary_light_color           : #ffd559;
$secondary_light2_color          : #ffe69b;
$secondary_dark_color            : #eeb201;

$dark_main_color                 : #21222b;
$dark_80_color                   : #4b4c55;
$dark_50_color                   : #909095;
$dark_20_color                   : #d3d3d5;
$dark_10_color                   : #e9e9eA;
$dark_05_color                   : #f5f6f7;

$white_color                     : #fff;

$danger_color                    : #FF4848;
$success_color                   : #00C853;