// footer style

.footer {
	display: flex;
	padding: 50px 0;
	background: #eceeee
}

.footer__logo {
	display: flex;
	flex-direction: row;
	margin-bottom: 25px
}

.footer__info {
	display: flex;
	flex-direction: row;
	justify-content: space-between
}

.footer__about-us-column,
.footer__newsletter-column,
.footer__resources-column {
	display: flex;
	flex-direction: column;
	width: calc(33.33% - 15px)
}

.footer__info__title {
	margin-top: 0;
	margin-bottom: 20px;
	font-size: 1.15em;
	font-weight: 600;
	color: $primary-dark-color
}

.footer__info__desc {
	font-size: .95em;
	color: #242e33
}

.footer__info__desc p {
	margin-bottom: 0
}

.footer__info__resources-list {
	margin: 0;
	padding: 0;
	columns: 2;
	column-gap: 28px
}

.footer__info__resources-list__item {
	list-style: none
}

.footer__info__resources-list__item a {
	font-size: .95em;
	font-weight: 500
}

.footer__newsletter__content {
	position: relative;
	width: 100%;
	display: flex;
	margin-bottom: 50px
}

.footer__newsletter__content input {
	width: 100%;
	height: 48px;
	padding-left: 20px;
	padding-right: 150px;
	border: 1px solid #d9d9d9;
	border-radius: 3px;
	background: $dark-05-color;
	transition: .3s
}

.footer__newsletter__content input:focus,
.footer__newsletter__content input:hover {
	box-shadow: 0 1px 4px rgba(0, 0, 0, .15)
}

.footer__newsletter__content button {
	position: absolute;
	width: 138px;
	height: 40px;
	top: 4px;
	right: 4px;
	border: 0;
	border-radius: 3px;
	color: $white-color;
	background: $primary-default-color;
	cursor: pointer;
	transition: .3s
}

.footer__newsletter__content button:hover {
	background: $primary-light-color
}
