// header style

.header {
	position: fixed;
	width: 100%;
	top: 0;
	left: 0;
	right: 0;
	margin: 0 auto;
	background: #FFF;
	z-index: 12;
	transition: .3s
}

.header.overlay {
	z-index: 4;
}

.header::before {
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: #c4c4c4;
	opacity: .1
}

.homepage .header {
	background-color: transparent
}

.header.white>div {
	background: #FFF
}

.header.white::before {
	content: none
}

.header .button {
	height: 40px;
}

.header-navigation-wrapper {
	position: absolute;
	width: 100%;
	box-shadow: 0 1px 4px rgba(0, 0, 0, .15);
	transition: .3s;
}

.header-navigation-inner {
	display: flex;
	justify-content: space-between;
	padding: 15px 0;
}

#header-logo-column,
#header-navigation-column {
	z-index: 3
}

.header-logo-column {
	position: relative;
	display: flex;
	justify-content: flex-start
}

.header-navigation-column {
	position: relative;
	display: flex;
	justify-content: flex-end;
	align-items: center
}

.header-navigation-column>* {
	margin-right: 20px
}

.header-account-button {
	margin-right: 0
}

.header-desktop-menu-toggle {
	width: 30px;
	height: 20px;
	margin-right: 0h
}

.header-search {
	position: relative;
	display: flex;
	width: 355px;
	height: 40px
}

.header-search input {
	width: 100%;
	padding-left: 20px;
	padding-right: 55px;
	border: 1px solid #eee;
	border-radius: 5px;
	color: #242e33;
	background: #eceeee;
	transition: .3s
}

.header-search input:focus,
.header-search input:hover {
	box-shadow: 0 1px 4px rgba(0, 0, 0, .15);
	transition: .3s
}

.header-search input:focus {
	border: 1px solid #4F58B8;
	transition: .3s
}

.header-search input::placeholder {
	opacity: 1;
	color: #9ea8ab
}

.header-search input:focus::placeholder {
	color: #d9d9d9
}

.header-search button {
	position: absolute;
	width: 16px;
	height: 16px;
	top: 12px;
	right: 24px;
	font-size: 0;
	border: 0;
	background: url('/img/assets/header/search-icon.svg');
	cursor: pointer
}

.header-buttons {
	display: flex;
	position: relative;
}

.header-buttons > a {
	margin-right: 20px;
}


.mobile-menu-icon {
	display: none
}

.header-desktop-menu-toggle {
	display: flex;
	position: relative;
	flex-direction: column;
	padding: 0;
	cursor: pointer
}


.hamburger--slider .hamburger-inner {
	top: 4px;
}

.hamburger-inner,
.hamburger-inner:after,
.hamburger-inner:before {
	width: 30px;
	height: 3px;
	border-radius: 0
}

.hamburger.hamburger--slider.is-unactive.hamburger--slider .hamburger-inner:before {
	top: 8px
}

.hamburger.hamburger--slider.is-unactive .hamburger-inner:after {
	top: 16px
}

.hamburger.hamburger--slider.is-active .hamburger-inner,
.hamburger.hamburger--slider.is-active .hamburger-inner:after,
.hamburger.hamburger--slider.is-active .hamburger-inner:before {
	width: 25px
}

.header-desktop-menu-toggle .hamburger-inner,
.header-desktop-menu-toggle .hamburger-inner:after,
.header-desktop-menu-toggle .hamburger-inner:before,
.header-desktop-menu-toggle.hamburger.is-active .hamburger-inner,
.header-desktop-menu-toggle.hamburger.is-active .hamburger-inner:after,
.header-desktop-menu-toggle.hamburger.is-active .hamburger-inner:before {
	background: #FFF
}

.header-desktop-menu-toggle.blue .hamburger-inner,
.header-desktop-menu-toggle.blue .hamburger-inner:after,
.header-desktop-menu-toggle.blue .hamburger-inner:before,
.header-desktop-menu-toggle.blue.hamburger.is-active .hamburger-inner,
.header-desktop-menu-toggle.blue.hamburger.is-active .hamburger-inner:after,
.header-desktop-menu-toggle.blue.hamburger.is-active .hamburger-inner:before {
	background: #2e368f
}

.header-desktop-menu-toggle span:last-of-type {
	margin-bottom: 0
}

.header.logined .desktop-toggle-menu {
	margin-right: 20px
}

.header.logined .desktop-toggle-menu--item {
	margin-right: 40px
}

.header.logined .desktop-toggle-menu--item:last-of-type {
	margin-right: 0
}

.header.logined .header-search {
	width: initial;
	height: initial;
	margin-right: 20px
}

.header.logined .header-search button {
	position: relative;
	top: 0;
	right: 0;
	width: 48px;
	height: 48px;
	padding: 20px;
	background: url('/img/assets/header-logined/search-icon-blue.svg') no-repeat #f5f6f7;
	background-position: center;
	border: 1px solid #eceeee;
	border-radius: 5px
}

.desktop-account-toggle-menu {
	position: absolute;
	width: 250px;
	display: flex;
	right: 0;
	top: 54px;
	margin: 0;
	padding: 25px 0;
	visibility: hidden;
	background: #f5f6f7;
	border-radius: 5px;
	transition: .3s;
	opacity: 0;
	z-index: 10;
	box-shadow: 0 1px 4px rgba(0, 0, 0, .15)
}

.desktop-account-toggle-menu::after {
	content: '';
	position: absolute;
	top: -8px;
	right: 22px;
	width: 17px;
	height: 17px;
	transform: rotate(45deg);
	background: #f5f6f7;
	border-radius: 2px;
	z-index: 2
}

.desktop-account-toggle-menu.opened {
	visibility: visible;
	transition: .3s;
	opacity: 1
}




.registration-toggle-menu {
	position: absolute;
	width: 100%;
	display: flex;
	flex-direction: column;
	right: 0;
	top: 54px;
	margin: 0;
	padding: 20px;
	visibility: hidden;
	background: #f5f6f7;
	border-radius: 5px;
	transition: .3s;
	opacity: 0;
	z-index: 10;
	box-shadow: 0 1px 4px rgba(0, 0, 0, .15)
}

.registration-toggle-menu::after {
	content: '';
	position: absolute;
	top: -8px;
	right: 22px;
	width: 17px;
	height: 17px;
	transform: rotate(45deg);
	background: #f5f6f7;
	border-radius: 2px;
	z-index: 2
}

.registration-toggle-menu.opened {
	visibility: visible;
	transition: .3s;
	opacity: 1
}

.registration-toggle-menu div,
.registration-toggle-menu div {
    justify-content: center;
    margin-bottom: 20px;
    padding: 0;
    font-size: .9em;
}

.registration-toggle-menu div:last-of-type {
	margin-bottom: 0;
}

.registration-toggle-menu .button--icon {
	margin-bottom: 0;
}

.registration-toggle-menu--line {
	width: 100%;
	height: 2px;
	margin-bottom: 20px;
	background: #D9D9D9;
}



.desktop-account-toggle-menu ul {
	width: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	margin: 0;
	padding: 0
}

.desktop-account-toggle-menu ul li {
	padding: 0 20px;
	margin-bottom: 25px;
	list-style: none;
	line-height: 1
}

.desktop-account-toggle-menu ul li.desktop-account-toggle-menu--faq {
	margin-bottom: 0;
}

.desktop-account-toggle-menu ul li:last-of-type {
	margin-top: 25px;
	margin-bottom: 0;
	padding-top: 25px;	
	border-top: 1px solid #D9D9D9;	
}

.desktop-account-toggle-menu ul li a {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.desktop-account-toggle-menu ul li a span {
	padding-left: 5px;
	font-size: .9em;
	font-weight: 500;
	color: #4b4c55
}

.header-search-toggle {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 40px;
	height: 40px;
	background: #f5f6f7;
	border: 1px solid #eceeee;
	box-sizing: border-box;
	border-radius: 5px;
	cursor: pointer;
	transition: .3s
}

.header-search-toggle:hover {
	background: #4F58B8
}

.header-search-toggle:hover svg path {
	fill: #FFF
}

.header-search-toggle img,
.header-search-toggle svg {
	display: none
}

.header-search-toggle .visible {
	display: block
}

.desktop-toggle-menu--search-bar {
	margin-right: 20px;
	padding-left: 20px;
	padding-right: 55px;
	border: 1px solid #D3D3D5;
	border-radius: 5px;
	color: #242e33;
	background: #FFFFFF;
	transition: .3s
}

.desktop-toggle-menu--search-bar:focus,
.desktop-toggle-menu--search-bar:hover {
	box-shadow: 0 1px 4px rgba(0, 0, 0, .15);
	transition: .3s
}

.desktop-toggle-menu--search-bar:focus {
	border: 1px solid #4F58B8;
	transition: .3s
}

.desktop-toggle-menu--search-bar::placeholder {
	opacity: 1;
	color: #9ea8ab
}

.desktop-toggle-menu--search-bar:focus::placeholder {
	color: #d9d9d9
}

.desktop-toggle-menu-wrapper {
	position: absolute;
	width: 100%;
	top: 80px;
	opacity: 0;
	box-shadow: 0 1px 4px rgba(0, 0, 0, .15);
	z-index: 4;
	transition: .3s
}

.desktop-toggle-menu-wrapper.opened {
	top: 70px;
	opacity: 1
}

.desktop-toggle-menu-wrapper.white {
	background: #FFF
}

.desktop-toggle-menu-wrapper.opened .desktop-toggle-menu-inner {
	visibility: visible;
	height: 100%;
	padding-top: 15px;
	padding-bottom: 15px
}

.desktop-toggle-menu-inner {
	position: relative;
	display: flex;
	flex-direction: row;
	justify-content: flex-end;
	visibility: hidden;
	height: 0;
	transition: .3s
}



.desktop-toggle-menu {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	margin: 0;
	padding: 0
}

.desktop-toggle-menu--item {
	margin-bottom: 0;
	margin-right: 60px;
	list-style: none
}

.desktop-toggle-menu--item a {
	font-size: 1em;
	letter-spacing: .03em
}

.desktop-toggle-menu--item.white a {
	color: #FFF
}

.desktop-toggle-menu--item.grey a {
	color: #4b4c55
}

.desktop-toggle-menu--item a.active,
.desktop-toggle-menu--item a:hover {
	text-shadow: 0 0 1.5px #FFF;
	transition: .3s
}

.desktop-toggle-menu--item a.active,
.header-wrapper.white .desktop-toggle-menu--item a:hover {
	text-shadow: 0 0 .1px #242e33;
	transition: .3s
}


.mobile-account-toggle-menu-block,
.mobile-toggle-menu-block {
	width: 100%;
	position: fixed;
	left: 0;
	right: 0;
	display: flex;
	flex-direction: column;
	visibility: hidden;
	height: 0;
	padding-top: 20px;
	padding-bottom: 20px;
	background: #FFF
}

.mobile-account-toggle-menu-block,
.mobile-toggle-menu-block * {
	max-width: 100%
}

.mobile-account-toggle-menu-block.opened,
.mobile-toggle-menu-block.opened {
	visibility: visible;
	height: 100%
}

.mobile-toggle-menu-block .header-search {
	width: 100%
}

.mobile-search-block {
	position: relative;
	display: flex;
	width: 100%;
	height: 48px;
	margin-bottom: 25px;
	z-index: 20
}

.mobile-search-block input {
	width: 100%;
	padding-left: 20px;
	padding-right: 55px;
	border: 0;
	border-radius: 5px;
	color: #242e33;
	background: #eceeee
}

.mobile-search-block input::placeholder {
	opacity: 1;
	color: #9ea8ab
}

.mobile-search-block button {
	position: absolute;
	width: 16px;
	height: 16px;
	top: 16px;
	right: 24px;
	font-size: 0;
	border: 0;
	background: url('/img/assets/header/search-icon.svg');
	cursor: pointer
}

.mobile-account-toggle-menu,
.mobile-toggle-menu {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
	margin: 0;
	margin-bottom: 30px;
	padding: 0 20px
}

.mobile-account-toggle-menu {
	justify-content: flex-start;
	align-items: unset
}

.mobile-toggle-menu--item {
	display: block;
	margin-bottom: 25px
}

.mobile-toggle-menu--item:last-of-type {
	margin-bottom: 0
}

.mobile-toggle-menu--item a {
	display: flex;
	align-items: center;
	font-size: 1.4em
}

.main-page-banner-wrapper {
	position: relative;
	padding-top: 180px;
	padding-bottom: 100px;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center
}

.main-page-banner-wrapper::before {
	position: absolute;
	content: '';
	width: 100%;
	height: 100%;
	top: 0;
	opacity: .6;
	z-index: 2;
	background: #000
}

.main-page-banner-text-block {
	position: relative;
	z-index: 3
}

.main-page-banner-text-block--title {
	margin-right: 0;
	margin-bottom: 30px;
	color: #FFF
}

.header-navigation-block-wrapper.white {
	background: #FFF
}

.header-navigation-block {
	height: 70px;
	display: flex;
	justify-content: space-between;
	padding-top: 15px;
	padding-bottom: 15px
}

.header-navigation-block .button {
	height: 40px;
}

.header-logo-column {
	display: flex;
	width: calc(33.33% - 15px)
}